.sb-link {
  text-decoration: none;
  cursor: pointer;
  border-bottom-width: 0;
}

.sb-link-default {
  color: #165dff;

  &:hover {
    color: #4080ff;
    border-bottom-style: solid;
    border-bottom-color: #4080ff;
  }
}

.sb-link-default.sb-link-is-disabled {
  color: #94bfff;
  cursor: not-allowed;
}

.sb-link-warning {
  color: #ff7d00;

  &:hover {
    color: #ff9a2e;
    border-bottom-style: solid;
    border-bottom-color: #ff9a2e;
  }
}

.sb-link-warning.sb-link-is-disabled {
  color: #ffcf8b;
  cursor: not-allowed;
}

.sb-link-error {
  color: #f53f3f;

  &:hover {
    color: #f76560;
    border-bottom-style: solid;
    border-bottom-color: #f76560;
  }
}

.sb-link-error.sb-link-is-disabled {
  color: #fbaca3;
  cursor: not-allowed;
}

.sb-link-success {
  color: #00b42a;

  &:hover {
    color: #23c343;
    border-bottom-style: solid;
    border-bottom-color: #23c343;
  }
}

.sb-link-success.sb-link-is-disabled {
  color: #7be188;
  cursor: not-allowed;
}

.sb-link-secondary {
  color: #606266;

  &:hover {
    color: #909399;
    border-bottom-style: solid;
    border-bottom-color: #909399;
  }
}

.sb-link-secondary.sb-link-is-disabled {
  color: #c9cdd4;
  cursor: not-allowed;
}

.sb-link-is-underline {
  border-bottom-width: 1px;
}
