.sb-alert {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  padding: 8px 15px;
  overflow: hidden;
  font-size: 14px;
  line-height: 1.5715;
  text-align: left;
  border-radius: 2px;
}

.sb-alert-icon {
  margin-right: 8px;
}

.sb-alert-body {
  position: relative;
  flex: 1;
}

.sb-alert-content {
  color: rgb(29,33,41);
}



.sb-alert-with-title {
  align-items: flex-start;
  padding: 15px;
}

.sb-alert-info {
  background-color: rgb(232,243,255);
  border: 1px solid transparent;
}

.sb-alert-success {
  background-color: rgb(232,255,234);
  border: 1px solid transparent;
}

.sb-alert-warning {
  background-color: rgb(255,247,232);
  border: 1px solid transparent;
}

.sb-alert-error {
  background-color: rgb(255,236,232);
  border: 1px solid transparent;
}

.sb-alert-close-btn {
  top: 4px;
  right: 0;
  box-sizing: border-box;
  margin-left: 8px;
  padding: 0;
  color: rgb(78,89,105);
  font-size: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .1s cubic-bezier(0,0,1,1);
}